
@import url('https://fonts.googleapis.com/css?family=Special+Elite|Domine&display=swap');
body{
font-family: 'Domine', serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0086b3;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0086b3;
}

.active {
  background-color: #0086b3;
}
h1{
font-family: 'Special Elite', cursive;
}
h2, ul{
font-family: 'Special Elite', cursive;
}
.image-holder {
  float: left; 
  margin-right: 20px
}
.portugal {
 width: 400px;
 length: 400px;
}
#home{
  margin-left: 200px;
}

@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Open+Sans');

html, body {
  height: 100%;
  background-color: #D0F0FF;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sea {
  border: 3px dashed #000;
}

.LightWaves {
  animation: lightwaves 2s infinite;
  position: relative;
}

@keyframes lightwaves {
    0%,100% { transform: translate(0,0); }
    25%     { transform: translate(5px,5px); transform: scale(1.05); }
    50%     { transform: translate(25px, 5px); }
    75%     { transform: translate(12px,10px); transform: scale(1.05); }
}

.DarkWaves {
  animation: darkwaves 3.8s infinite;
}

@keyframes darkwaves {
    0%,100% { transform: translate(0,0); }
    25%     { transform: translate(25px, 5px); transform: scale(1.05); }
    50%     { transform: translate(12px,10px); }
    75%     { transform: translate(5px,5px); }
}

.WhiteWaves {
  animation: whitewaves 4s alternate ease infinite;
}

@keyframes whitewaves {
    0% { transform: translate(0,25px); }
    100%     { transform: translate(25px,35px); }
}
