@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Special+Elite|Domine&display=swap');

* {
  box-sizing: border-box;
}

html, body {

  padding: 0;
  margin: 0;
  font-family: 'Domine', serif;
}

h1, h2 {
  font-family: 'Special Elite', cursive;
}

header {
  padding: 20px;
}

h1 {
  float: left;
  margin: 16px 0;
}

ul {
  float: right
}

li {
  display: inline-block;
  margin: 0 10px;
  padding: 2px;
}

li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
}

li:hover {
  background: none;
}

li a:hover {
  border-bottom: 2px solid #000000;
  transition: border-bottom 1s linear;
}

.quote {
  margin: 100px auto;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  width: 800px;
}

.author_section {
  font-family: 'Open Sans', serif;
  text-transform: uppercase;
  font-size: 15px;
  margin: 5px 0;
}

.about_brooke {
  margin: 1000px auto 0 auto;
  width: 800px;
  border: 2px solid #000000;
  background: #fff;
  padding: 15px;
}

.about_brooke h1 {
  float: none;
}

p {
  margin: 15px;
}

nav {
 overflow: hidden;
}

.author_section {
  font-family: 'Open Sans', serif;
  text-transform: uppercase;
  font-size: 15px;
  margin: 5px 0;
}

.design_concept{
  margin: 1000px auto 0 auto;
  width: 800px;
  border: 2px solid #000000;
  background: #fff;
  padding: 15px;
}

.design_concept h1 {
  float: none;
}

p {
  margin: 15px;
}

nav {
 overflow: hidden;
 min-width:1000px;
}

.photoshop{
  margin: 1000px auto 0 auto;
  width: 640px;
  border: 2px solid #000000;
  background: #fff;
  padding: 15px;
}

.photoshop2{
  margin: 1000px auto 0 auto;
  width: 440px;
  border: 2px solid #000000;
  background: #fff;
  padding: 15px;
}

.photoshop3{
  margin: 1000px auto 0 auto;
  width: 620px;
  border: 2px solid #000000;
  background: #fff;
  padding: 15px;
}

.photoshop4{
  margin: 1000px auto 0 auto;
  width: 640px;
  border: 2px solid #000000;
  background: #fff;
  padding: 15px;
}

