
@import url('https://fonts.googleapis.com/css?family=Special+Elite|Domine&display=swap');
body{
font-family: 'Domine', serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0086b3;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0086b3;
}

.active {
  background-color: #0086b3;
}
h1{
font-family: 'Special Elite', cursive;
}
h2, ul{
font-family: 'Special Elite', cursive;
}
.image-holder {
  float: left; 
  margin-right: 20px
}
.portugal {
 width: 400px;
 length: 400px;
}
#home{
  margin-left: 200px;
}
p.important {

border-style: solid;

border-width: 5px;

border-color: #ffe680;

}
::selection{background-color: salmon; color: white;}
.parallax > use{
  animation:move-forever 12s linear infinite;
  &:nth-child(1){animation-delay:-2s;}
  &:nth-child(2){animation-delay:-2s; animation-duration:5s}
  &:nth-child(3){animation-delay:-4s; animation-duration:3s}
}

@keyframes move-forever{
  0%{transform: translate(-90px , 0%)}
  100%{transform: translate(85px , 0%)} 
}



.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
}

body {
  background-color: #323232;
  margin: 0;max-height: 100vh; overflow:hidden;
  padding: 9em 0 0 0;
}

.content {

font-family: 'Lato',sans-serif;  
  text-align: center;  background-color: #2d55aa;
  text-align: center;
  min-height: 75vh;
  margin: -.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 2em;
  font-weight: 300;
}
.content{font-size: 1em;}

.content h1 {
  margin-top:-1.3em;
  font-weight: 100;
  font-size: 5em;
  user-select:none;
  cursor: default;
}

/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width:50em){
  .content h1{font-size: 12vmax}
  .editorial{height:17vw;}
}

h1{outline:none}

body{background-color:#234}
